<nav class="menu-opener">
  <div class="menu-opener-inner"></div>
</nav>
  <nav class="menu">
    <ul class="menu-inner">
      <a href="ksajnjsnxsjxna" class="menu-link">
        <li>work</li>
      </a>
      <a href="#" class="menu-link">
        <li>blog</li>
      </a>
      <a href="#" class="menu-link">
        <li>about</li>
      </a>
      <a href="#" class="menu-link">
        <li>contact</li>
      </a>
    </ul>
  </nav>
  <br>
  <br>
  <br>
