<div class="list-group">
  <a href="#" class="list-group-item active" ><i class="icon-group"></i>
     USERNAMES
  </a>
  {{#candidates}}
    <a class="list-group-item" href="/track/{{this}}/repo/{{../project}}/matches"><i class="icon-user"></i> {{this}}</a>
  {{/candidates}}
</div>
