<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Codex-preps progress Tracker</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/customMenu.css">
    <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
</head>

<body>
<div class="row">
  <nav class="menu-opener">
    <div class="menu-opener-inner"></div>
  </nav>
    <nav class="menu">
      <ul class="menu-inner">
        <a href="#" class="menu-link">
          <li>User Files</li>
        </a>
        <a href="#" class="menu-link">
          <li>Dashboard</li>
        </a>
        <a href="#" class="menu-link">
          <li>FeedBack</li>
        </a>
        <a href="#" class="menu-link">
          <li>Register</li>
        </a>
        <a href="#" class="menu-link">
          <li>contact</li>
        </a>
      </ul>
    </nav>
  </div>
  <br>
<div class="ui container">
{{{body}}}
</div>
<script src="/js/menu.js"></script>
</body>

</html>
