<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Codex-preps progress Tracker</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/customMenu.css">
    <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
</head>

<body>
  <nav>
  <ul>
    <li>
      <i class="icon"></i>
      <h4>user1</h4>
    </li>
    <li>
      <i class="icon"></i>
      <h4>user2</h4>
    </li>
    <li>
      <i class="icon"></i>
      <h4>user3</h4>
    </li>
    <li>
      <i class="icon"></i>
      <h4>user4</h4>
    </li>
    <li>
      <i class="icon"></i>
      <h4>user5</h4>
    </li>
  </ul>
</nav>
<div class="container"><div class="menu-icon"><span></span></div>
{{{body}}}
</div>
    <script src="/js/menu.js"></script>
</body>

</html>
