<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Codex-preps progress Tracker</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/customMenu.css">
    <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>
    <script src="/node_modules/lodash/lodash.js"></script>
</head>

<body>
<div class="row">
  <nav class="menu-opener">
    <div class="menu-opener-inner"></div>
  </nav>
    <nav class="menu">
      <ul class="menu-inner">
        <a href="#" class="menu-link">
          <li>User Files</li>
        </a>
        <a href="#" class="menu-link">
          <li>Dashboard</li>
        </a>
        <a href="#" class="menu-link">
          <li>FeedBack</li>
        </a>
        <a href="#" class="menu-link">
          <li>Register</li>
        </a>
        <a href="#" class="menu-link">
          <li>contact</li>
        </a>
      </ul>
    </nav>
  </div>
  <div class="ui internally celled grid">
    <div class="row">
      <div class="three wide column">
        <img>
      </div>
      <div class="nine wide column">
        <div class="ui container">
        {{{body}}}
        </div>
      </div>
<div class="row">
  <div class="ui left floated segment">
    <div class="ui large label">
      <div class="ui center aligned segment">
        <i class="users icon"> </i> USERNAMES <i class="users icon"> </i>
      </div>
    </div>
      <div class="three wide column">
        <div class="ui relaxed divided list">
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <a class="header" href="http://localhost:2001/track/Christianraymond/repo/function_intro/matches">Christianraymond</a>
              <!-- <div class="description">Updated 34 mins ago</div> -->
            </div>
          </div>
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <a class="header" href="http://localhost:2001/track/GarethW1994/repo/function_intro/matches">Gareth Williams</a>
              <!-- <div class="description">Updated 10 mins ago</div> -->
            </div>
          </div>
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <a class="header" href="http://localhost:2001/track/janine-code/repo/function_intro/matches">Janine Ritchie</a>
              <!-- <div class="description">Updated 22 mins ago</div> -->
            </div>
          </div>
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <a class="header" href="http://localhost:2001/track/SinethembaDlova/repo/function_intro/matches">Sinethemba Dlova</a>
              <!-- <div class="description">Updated 34 mins ago</div> -->
            </div>
          </div>
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <a class="header" href="http://localhost:2001/track/Sibabale/repo/function_intro/matches">Sibabale</a>
              <!-- <div class="description">Updated 34 mins ago</div> -->
            </div>
          </div>
        </div>
        <img>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="three wide column">
        <img>
      </div>
      <div class="nine wide column">
        <p></p>
      </div>
      <div class="three wide column">
        <img>
      </div>
    </div>
  </div>
<script src="/js/menu.js"></script>
</body>

</html>
