<div class="row">
    <h1>Project</h1>
    <form class="" action="/projects/add" method="post">
        <div class="form-group">
            <label for="projectName">Project name</label>
            <input type="text" class="form-control" name="projectName" value="{{projectName}}">
        </div>
        <input type="submit" class="btn btn-success" name="addFile">
    </form>
</div>
